@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #000000;
    --color-secondary: #efa12d;
    --color-h1: #ffffff;
    --color-description: #c6c6c6;
    --color-hyperlink: #3791e4;
    --color-button-primary: #efa12d;
    --color-button-whatsapp: #259f00;

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1); /* ... */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}

/* Hide scrollbar for IE & older Edge */
.scrollbar-hide {
    -ms-overflow-style: none;
}

:focus {
    outline: none !important;
}
svg [tabindex="-1"] {
    outline: none !important;
}

.scroll-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.scroll-track {
    display: flex;
    animation: infiniteScroll 20s linear infinite;
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
