name: Deploy to Cloudflare Workers (Production)

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    deploy:
        name: Deploy Production
        runs-on: ubuntu-latest
        environment:
            name: actionss
        env:
            NODE_ENV: production
            NEXTJS_ENV: production
            NEXT_PUBLIC_ASSET_URL: ${{ vars.NEXT_PUBLIC_ASSET_URL }}
            NEXT_PUBLIC_BASE_URL: ${{ vars.NEXT_PUBLIC_BASE_URL }}
            CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
            CLOUDFLARE_DATABASE_ID: ${{ vars.CLOUDFLARE_DATABASE_ID }}
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
            BETTER_AUTH_BASE_PATH: ${{ vars.BETTER_AUTH_BASE_PATH }}
            BETTER_AUTH_URL: ${{ vars.BETTER_AUTH_URL }}
            S3_API: ${{ vars.S3_API }}
            R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
            R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
            RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
            SENDER_EMAIL: ${{ vars.SENDER_EMAIL }}
            NEXT_PUBLIC_WHATSAPP_NUMBER: ${{ vars.NEXT_PUBLIC_WHATSAPP_NUMBER }}
            NEXT_PUBLIC_WHATSAPP_NAME: ${{ vars.NEXT_PUBLIC_WHATSAPP_NAME }}
            RECIPIENT_EMAIL: ${{ vars.RECIPIENT_EMAIL }}
        timeout-minutes: 15

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build artifact
              run: bun run cf:build:production

            - name: Deploy for cloudflare
              run: bun run cf:deploy:production

            - name: Save cache
              uses: actions/cache@v4
              with:
                  # See here for caching with `yarn`, `bun` or other package managers https://github.com/actions/cache/blob/main/examples.md or you can leverage caching with actions/setup-node https://github.com/actions/setup-node
                  path: |
                    ~/.bun/install/cache
                    ${{ github.workspace }}/.next/cache
                  # Generate a new cache whenever packages or source files change.
                  key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lockb') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
                  # If source files changed but packages didn't, rebuild from a prior cache.
                  restore-keys: |
                    ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lockb') }}-
