name: Deploy to Cloudflare Workers (Production)

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    deploy:
        name: Deploy Production
        runs-on: ubuntu-latest
        environment:
            name: actionss
        env:
            NODE_ENV: production
            NEXTJS_ENV: production
            NEXT_PUBLIC_ASSET_URL: ${{ env.NEXT_PUBLIC_ASSET_URL }}
            NEXT_PUBLIC_BASE_URL: ${{ env.NEXT_PUBLIC_BASE_URL }}
            CLOUDFLARE_ACCOUNT_ID: ${{ env.CLOUDFLARE_ACCOUNT_ID }}
            CLOUDFLARE_DATABASE_ID: ${{ env.CLOUDFLARE_DATABASE_ID }}
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
            BETTER_AUTH_BASE_PATH: ${{ env.BETTER_AUTH_BASE_PATH }}
            BETTER_AUTH_URL: ${{ env.BETTER_AUTH_URL }}
            S3_API: ${{ env.S3_API }}
            R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
            R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
            RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
            SENDER_EMAIL: ${{ nev.SENDER_EMAIL }}
            NEXT_PUBLIC_WHATSAPP_NUMBER: ${{ env.NEXT_PUBLIC_WHATSAPP_NUMBER }}
            NEXT_PUBLIC_WHATSAPP_NAME: ${{ env.NEXT_PUBLIC_WHATSAPP_NAME }}
            RECIPIENT_EMAIL: ${{ env.RECIPIENT_EMAIL }}
        timeout-minutes: 15

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build artifact
              run: bun run build

            - name: Deploy for cloudflare
              run: bun run cf:deploy:production
